/scripts/revising_pysimplegui.py
/resources/images/surrounding/small_coin.png
/output/Platformetic.zip
/level_stats.json
/.idea/aws.xml
/levels/level7.tmx
/.idea/misc.xml
/.idea/modules.xml
/.idea/Platformetic2.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
